<!doctype html>
<html >
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport">
    <meta charset="utf-8" />
<title>Корзина</title>
<link href="style/general.css" rel="stylesheet">
    <script src="scripts/jquery-3.3.1.min.js"></script>
  <title>Document</title>
 </head>
 <body data-page="cart">
 
 <div class="DopMenu">
<a href="about.html">О компании</a>
</div>
 
 <div class="head1 head1Cart">
<a href="index.html" class="ArrowBack"><img src="style/img/ArrowBack.png"><span>Корзина</span></a>
<a href="#" class="icDopMenu"><img src="style/img/icDopMenu.png"></a>
</div>
        
        <div class="productCont productContCart" id="cart">
            <img src="img/loading.gif" alt="">
         </div>
        
<div class="cartSumLine">Итого: <span id="total-cart-summa">0</span> руб. <a href="order.html" id="order" class="productItem1But butOrder">ОФОРМИТЬ ЗАКАЗ</a><a href="#" onClick="alert('Минимальная сумма заказа 1500 руб!');" id="order2" class="productItem1But butOrder">ОФОРМИТЬ ЗАКАЗ</a></div>



<script id="cart-template" type="text/template">
    <% _.each(goods, function(good) { 
		
		console.log(good.img);
		
		%>
        <div class="js-cart-item productItem1" data-id="<%= good.id %>">
		<div class="productItem1Img"><img src="<%- good.img %>"></div>
        <div class="productItem1Cont">
            <h1><%- good.name %></h1>
			
			<div class="countBlock">
                <span
                    class="js-change-count countBlockBut"
                    title="Уменьшить на 1"
                    data-id="<%= good.id %>"
                    data-delta="-1"
                >
                   -
                </span>
                <span class="js-count"><%= good.count %></span>
                <span 
                    class="js-change-count countBlockBut"
                    title="Увеличить на 1"
                    data-id="<%= good.id %>"
                    data-delta="1"
                >
                   +
                </span>
				</div>
            
            <div class="productItem1Price"><span class="js-summa"><%= good.count * good.price %></span> руб.</div>
            
                <span class="cart-item__btn-remove js-remove-from-cart" title="Удалить из корзины" data-id="<%= good.id %>">
                    <span class="productItem1But productItem1ButDel"><img src="style/img/ic_delete_forever.png">УДАЛИТЬ</span>
                </span>
                </div>
            <div style="clear:both"></div>
        </div>
    <% }); %>
</script>


<script src="js/vendor/underscore.min.js" type="text/javascript"></script>
<script src="js/modules/catalog.js" type="text/javascript"></script>
<script src="js/modules/cart.js" type="text/javascript"></script>
<script src="js/modules/main.js" type="text/javascript"></script>
<script src="scripts/general.js"></script>
 </body>
</html>
