<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport">
    <meta charset="utf-8" />
    <link href="style/general.css" rel="stylesheet">
    <script src="scripts/jquery-3.3.1.min.js"></script>
<title></title>
</head>

<body data-page="catalogDB">
<div class="head1">
<a href="index.html" class="logo1 linkIcon"><img src="style/img/logo1.png"></a>
<a href="index.html" class="ArrowBack2 linkGeneral"><img src="style/img/ArrowBack.png"><span>Все категории</span></a>
<a rel="nofollow" href="cart.html" class="basketCont"><img src="style/img/icBasket.png"><span id="total-cart-count"></span></a>
<a href="#" class="icDopMenu"><img src="style/img/icDopMenu.png"></a>
<div class="inputSearch">


<input name="" type="text">




<a href="#" class="icSearch"><img src="style/img/icSearch.png"></a>
<a href="#" class="icFiltr"><img src="style/img/icFiltr.png"></a>
</div>
</div>


<form id="filters-form" role="form">
<div id="search">

                    </div>
   
 <div id="brands">

                    </div>
					</form>

				
                    
     <div id="categorys" class="catalogCont">
     </div>

    <div id="goods" class="productCont">
    <style type="text/css">
	 .linkIcon { display: block }
	 .linkGeneral { display: none }
     </style>
        <img src="img/loading.gif" alt="" rel="nofollow">
       
    </div>




<script id="goods-template" type="text/template">
    <% _.each(goods, function(item) { %>
        <div class="productItem1">
<div class="productItem1Img"><img class="good-item__img" src="<%= item.photo %>" /></div>
<div class="productItem1Cont">
<h1><%- item.good %></h1>
<p><%- item.description %> <%- item.sales_notes %></p>
<div class="productItem1Price"><%= item.mprice %> руб.</div>
                <button 
                    class="good-item__btn-add js-add-to-cart productItem1But"
                    data-id="<%= item.good_id %>"
                    data-name="<%- item.good %>"
                    data-price="<%= item.mprice %>"
					data-img="<%= item.photo %>"
                >ДОБАВИТЬ В КОРЗИНУ</button>
</div>
<div style="clear:both"></div>
</div>
    <% }); %>
</script>


<script id="search-template" type="text/template">

<input name="search" type="text" value="<%= search %>">
<INPUT TYPE="button" value="Искать" class="js-search">
      
    </script>



    <script id="brands-template" type="text/template">

	
<select name="brands[]">


	 <% _.each(brands, function(item) 
	 
	 {
		 
		 %>
	      <option value="<%= item.id %>">  
		  
		  <%= item.brand %> </option>  <%
	
	
	}); %>

</select>


      
    </script>

	 <script id="categorys-template" type="text/template">

	
        <% _.each(categorys, function(item) {
			
			
		// console.log(item.id);
			%><a data-category="<%= item.id %>" class="js-category"><%= item.category %> (<%= item.cc %>)</a> <% }); %>
    </script>


 <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.cookie.js" type="text/javascript"></script>
    <script src="components/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="js/vendor/underscore.min.js" type="text/javascript"></script>
    <script src="js/modules/catalogDB.js" type="text/javascript"></script>
    <script src="js/modules/cart.js" type="text/javascript"></script>
    <script src="js/modules/compare.js" type="text/javascript"></script>
    <script src="js/modules/main.js" type="text/javascript"></script>
</body>
</html>
