<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport">
    <meta charset="utf-8" />
    <link href="style/general.css" rel="stylesheet">
    <script src="scripts/jquery-3.3.1.min.js"></script>
<title></title>
</head>

<body data-page="catalogDB">

<div class="head1">
<a href="index.html" class="logo1 linkIcon"><img src="style/img/logo1.png"></a>
<!--<a href="#" id="gobrands" class="ArrowBack2 linkGeneral"><img src="style/img/ArrowBack.png"><span >Все категории</span></a>-->
<a href="#" id="gobrands" class="ArrowBack2 linkGeneral"><img src="style/img/ArrowBack.png"><span >Все категории</span></a>


<a href="index.html" id="gocats" class="ArrowBack2 linkGeneral"><img src="style/img/ArrowBack.png"><span >Все категории</span></a>


<a rel="nofollow" href="cart.html" class="basketCont"><img src="style/img/icBasket.png"><span id="total-cart-count"></span></a>
<a href="#" class="icDopMenu"><img src="style/img/icDopMenu.png"></a>
<div class="inputSearch">

 <!--<input id="inputSearch" class="inputSearchInput" name="" type="text">-->

<!-- Форма поиска -->
 <form id="filters-form" role="form">
<!--<div id="search"></div>-->
<!--multiple="multiple"-->
<input name="search" type="text" class="inputSearchInput">
<div class="inputSearchDown">
  <!--<input type="button" id="btn" name="btn" class="js-btn" value="Искать" onClick="">-->
  <a href="#" name="btn" id="btn" class="productItem1But inputSearchBut1" style="padding: 10px 20px; font-size: 11px;">ИСКАТЬ</a>
</div>
<a href="#" class="icSearch"><img src="style/img/icSearch.png"></a>
<a href="#" id="icFiltr" class="icFiltr"></a>

<div class="filtersMenu2">
<div class="filtersMenu2H1">Фильтры</div>
<div class="filtersMenu2Table">
<li>
<div class="filtersMenu2TitleCell">Название/цена</div>
                    <select  id="sort" name="sort" class="form-control">
					 <option value="goodtech_asc">По названию, А-Я</option>
                        <option value="goodtech_desc">По названию, Я-А</option>
                        <option value="price_asc">По цене, сначала дешевые</option>
                        <option value="price_desc">По цене, сначала дорогие</option>
                    </select>
</li>
<li>
<div class="filtersMenu2TitleCell">С газом/без газа</div>
					<select  id="gaz" name="gaz" class="form-control">
					<option value="">Все</option>
					 <option value="с газом">С газом</option>
                        <option value="без газа">Без газа</option>
                    </select>
          </li>

<li>
<div class="filtersMenu2TitleCell">Стекло/пластик</div>
					<select  id="steklo" name="steklo" class="form-control">
					<option value="">Все</option>
					 <option value="стекло">В стелкле</option>
                        <option value="пластик">В пластике</option>
                        
                    </select>
          </li>
                    
        </div>
      </div>

</form>
<!--
<a href="">По названию, A-Z</a>
					<a href="">По названию, Z-A</a>
					<a href="">По цене, сначала дешевые</a>
					<a href="#" >По цене, сначала дорогие</a>
-->
<div class="inputSearchDownOld" style="display:none">
<a href="#" id="inputSearchBut1" class="productItem1But" style="padding: 10px 20px; font-size: 11px;">ИСКАТЬ</a>
</div>

</div>

</div>

<div class="filtersMenu">
<table>
  <tr>
<td><label><input name="filtersCheck1" type="radio" value="" class="filterCheck1" checked><span class="filterItem">По названию</span></label></td>
<td><label><input name="filtersCheck1" type="radio" value="" class="filterCheck1"><span class="filterItem filterItemPic"><img src="style/img/filterArrowDown.png" width="36" height="36">По цене</span></label></td>
<td><label><input name="filtersCheck1" type="radio" value="" class="filterCheck1"><span class="filterItem filterItemPic"><img src="style/img/filterArrowUp.png" width="36" height="36">По цене</span></label></td>
  </tr>
  <tr>
<td><label><input name="filtersCheck2" type="radio" value="" class="filterCheck1" checked><span class="filterItem">Все</span></label></td>
<td><label><input name="filtersCheck2" type="radio" value="" class="filterCheck1"><span class="filterItem">С газом</span></label></td>
<td><label><input name="filtersCheck2" type="radio" value="" class="filterCheck1"><span class="filterItem">Без газа</span></label></td>
  </tr>
  <tr>
<td><label><input name="filtersCheck3" type="radio" value="" class="filterCheck1" checked><span class="filterItem">Все</span></label></td>
<td><label><input name="filtersCheck3" type="radio" value="" class="filterCheck1"><span class="filterItem">В стекле</span></label></td>
<td><label><input name="filtersCheck3" type="radio" value="" class="filterCheck1"><span class="filterItem">В пластике</span></label></td>
  </tr>
</table>
<div style="text-align:center; padding: 10px;"><a href="#" id="filtersBot" class="productItem1But">ПРИМЕНИТЬ ФИЛЬТРЫ</a></div>
</div>
			
                    
     <div id="categorys" class="catalogCont">
       <img src="img/loading.gif" alt="" rel="nofollow">
     </div>
	  <div id="brands" class="catalogCont">

                    </div>

    <div id="goods" class="productCont">
    <style type="text/css">
	 .linkIcon { display: block }
	 .linkGeneral { display: none }
     </style>
        <img src="img/loading.gif" alt="" rel="nofollow">
       
    </div>




<script id="goods-template" type="text/template">
    <% _.each(goods, function(item) { %>
        <div class="productItem1">
<div class="productItem1Img"><img class="good-item__img" src="<%= item.photo %>" /></div>
<div class="productItem1Cont">
<h1><%- item.good %></h1>
<p><%- item.description %> <%- item.sales_notes %></p>
<div class="productItem1Price"><%= item.price %> руб.</div>
                <button 
                    class="good-item__btn-add js-add-to-cart productItem1But"
                    data-id="<%= item.good_id %>"
                    data-name="<%- item.good %>"
                    data-price="<%= item.price %>"
					data-img="<%= item.photo %>"
                >ДОБАВИТЬ В КОРЗИНУ</button>
</div>
<div style="clear:both"></div>
</div>
    <% }); %>
</script>


<script id="search-template" type="text/template">
<input name="search" type="text" value="<%= search %>" style="display:none">
<input name="search" type="text" id="inputSearch" class="inputSearchInput">
<div class="inputSearchDown" style="display:block">
<INPUT TYPE="button" value="ИСКАТЬ" class="js-search productItem1But">
</div>
</script>


    <script id="brands-template" type="text/template">


	 <% _.each(brands, function(item) 
	 
	 {
		 
		 %>

		 <a data-brand="<%= item.id %>" class="js-brand catalogItem1"><span class="catalogPic" style="background-image: url(<%= item.photo %>)"></span><%= item.brand %> (<%= item.bc %>)</a>

  <%
	
	
	}); %>



	<!--
<select name="brands[]">


	 <% _.each(brands, function(item) 
	 
	 {
		 
		 %>
	      <option value="<%= item.id %>">  
		  
		  <%= item.brand %> </option>  <%
	
	
	}); %>

</select>
-->

      
    </script>

	 <script id="categorys-template" type="text/template">

	
        <% _.each(categorys, function(item) {
			
			
		// console.log(item.id);
			%><a data-category="<%= item.id %>" class="js-category catalogItem1"><span class="catalogPic" style="background-image: url(<%= item.photo %>)"></span><%= item.category %> (<%= item.cc %>)</a> <% }); %>
    </script>


 <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.cookie.js" type="text/javascript"></script>
    <script src="components/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="js/vendor/underscore.min.js" type="text/javascript"></script>
    <script src="js/modules/catalogDB.js" type="text/javascript"></script>
    <script src="js/modules/cart.js" type="text/javascript"></script>
    <script src="js/modules/compare.js" type="text/javascript"></script>
    <script src="js/modules/main.js" type="text/javascript"></script>
    <script src="scripts/general.js"></script>
</body>
</html>
