<!doctype html>
<html >
 <head><!-- https://webdevkin.ru/posts/frontend/korzina-dlya-internet-magazina-na-fronte-ili-pishem-modulnyij-javascript -->

  <meta charset="utf-8">
<title>Webdevkin. Интернет-магазин. Javascript</title>
<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="style/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="style/main.css" rel="stylesheet" type="text/css">
  <title>Document</title>
 </head>
 <body data-page="catalog">
  

<div class="container">
    <h2>Webdevkin. Интернет-магазин. Модульный Javascript</h2>
    <br>
    <ul class="nav nav-pills">
        <li class="active"><a href="index.html">Каталог</a></li>
        <li><a rel="nofollow" href="cart.html">Корзина<span id="total-cart-count" class="badge"></span></a></li>
    </ul>
    <br>
    <ul id="goods" class="list-unstyled">
        <img src="img/loading.gif" alt="" rel="nofollow">
    </ul>
</div>

<script id="catalog-template" type="text/template">
    <% _.each(goods, function(good) { %>
        <li class="good-item row">
            <div class="col-md-4">
                <center><img class="good-item__img" height=230 src="<%- good.img %>" /></center>
            </div>
            <div class="col-md-8">
                <div class="good-item__id">Артикул <%= good.id %></div>
                <div class="good-item__name"><%- good.name %></div>
                <div class="good-item__price"><%= good.price %> руб.</div>
                <button 
                    class="good-item__btn-add btn btn-info btn-sm js-add-to-cart"
                    data-id="<%= good.id %>"
                    data-name="<%- good.name %>"
                    data-price="<%= good.price %>"
                >Добавить в корзину</button>
            </div>
        </li>
    <% }); %>
</script>


  <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="js/vendor/underscore.min.js" type="text/javascript"></script>
<script src="js/modules/catalog.js" type="text/javascript"></script>
<script src="js/modules/cart.js" type="text/javascript"></script>
<script src="js/modules/main.js" type="text/javascript"></script>
 </body>
</html>
