<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport">
    <meta charset="utf-8" />
    <link href="style/general.css" rel="stylesheet">
    <script src="scripts/jquery-3.3.1.min.js"></script>
<title></title>
</head>

<body data-page="catalogDB">
<div class="head1">
<a href="index.html" class="logo1 linkIcon"><img src="style/img/logo1.png"></a>
<span id="gobrands">Все категории</span>
<a rel="nofollow" href="cart.html" class="basketCont"><img src="style/img/icBasket.png"><span id="total-cart-count"></span></a>
<a href="#" class="icDopMenu"><img src="style/img/icDopMenu.png"></a>
<div class="inputSearch">


<input name="" type="text">


<a href="#" class="icSearch"><img src="style/img/icSearch.png"></a>
<a href="#" class="icFiltr"><img src="style/img/icFiltr.png"></a>
</div>
</div>

<!-- Форма поиска -->

<br><br><br><br><br><br><br><br><br>
 <div id="tobrands"></div>

<form id="filters-form" role="form">


<div id="search">

                    </div>
 


					
					</form>
				

				




<script id="search-template" type="text/template">

<!--<input name="search" type="text" value="<%= search %>">-->

<input name="search" type="text" >
<INPUT TYPE="button" value="Искать" class="js-search">
      
    </script>



    <script id="brands-template" type="text/template">


	 <% _.each(brands, function(item) 
	 
	 {
		 
		 %>

		 <a data-brand="<%= item.id %>" class="js-brand"><%= item.brand %></a><br>

  <%
	
	
	}); %>



	<!--
<select name="brands[]">


	 <% _.each(brands, function(item) 
	 
	 {
		 
		 %>
	      <option value="<%= item.id %>">  
		  
		  <%= item.brand %> </option>  <%
	
	
	}); %>

</select>
-->

      
    </script>

	 <script id="categorys-template" type="text/template">

	
        <% _.each(categorys, function(item) {
			
			
		// console.log(item.id);
			%><a data-category="<%= item.id %>" class="js-category"><%= item.category %> (<%= item.cc %>)</a> <% }); %>
    </script>


 <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.cookie.js" type="text/javascript"></script>
    <script src="components/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="js/vendor/underscore.min.js" type="text/javascript"></script>
    <script src="js/modules/catalogDB.js" type="text/javascript"></script>
    <script src="js/modules/cart.js" type="text/javascript"></script>
    <script src="js/modules/compare.js" type="text/javascript"></script>
    <script src="js/modules/main.js" type="text/javascript"></script>
</body>
</html>
