<!doctype html>
<html lang="ru">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="style/general.css" rel="stylesheet">
    <script src="scripts/jquery-3.3.1.min.js"></script>
<title></title>
</head>
<body data-page="order">

<div class="DopMenu">
<a href="about.html">О компании</a>
<a href="contacts.html">Контакты</a>
<a href="deliver.html">Доставка и оплата</a>
</div>

<div class="head1 head1Cart">
<a href="cart.html" class="ArrowBack3"><img src="style/img/ArrowBack.png"><span>Оформление заказа</span></a>
<a href="#" class="icDopMenu"><img src="style/img/icDopMenu.png"></a>
</div>

<div class="orderCont" style="margin-bottom: 100px;">

    <div class="container-fluid">

        <div id="order-message" class="SmallText" style="margin: 15px 0 15px 0"></div>
       
        <form id="order-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="input-name" class="col-sm-2 control-label">Ваше имя </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="input-name" name="name" placeholder="Ваше имя">
                </div>
            </div>
            <div class="form-group">
                <label for="input-phone" class="col-sm-2 control-label">Телефон *</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="input-phone" name="phone" placeholder="Телефон">
                </div>
            </div>
            <div class="form-group">
                <label for="input-email" class="col-sm-2 control-label">Email </label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" id="input-email" name="email" placeholder="Email">
                </div>
            </div>
                   
          
                   




            <div class="form-group">
                <label for="input-address" class="col-sm-2 control-label">Адрес доставки *</label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="input-address" name="address" placeholder="Адрес доставки" row="3"></textarea>
                </div>
            </div>
			
			<div class="form-group">
                <label for="input-address" class="col-sm-2 control-label">Желаемое время доставки</label>
                <div class="col-sm-6">
                     <input type="text" class="form-control" id="input-time" name="time" placeholder="Время доставки">
                </div>
            </div>

            <div class="form-group">
                <label for="input-message" class="col-sm-2 control-label">Сообщение</label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="input-message" name="message" placeholder="Дополнительная информация" row="3"></textarea>
<br>

					 <input type="hidden" name="delivery_type" id="delivery-type" value="" />
                    <input type="hidden" name="delivery_summa" id="delivery-summa" value="0" />
                    <input type="hidden" name="full_summa" id="full-summa" value="0" />
                    <div class="radio" style="display: none;">
                       <input type="radio" name="delivery" class="js-delivery-type" data-type="Самовывоз" data-summa="0" checked>Самовывоз (бесплатно)
                    </div>
                    <div class="radio" style="display: none;">
                       <input type="radio" name="delivery" class="js-delivery-type" data-type="В пределах КАД" data-summa="200">В пределах КАД (200 рублей)
                    </div>
                    <div class="radio" style="display: none;">
                        <input type="radio" name="delivery" class="js-delivery-type" data-type="Почта России" data-summa="300">Доставка почтой России (300 рублей)
                    </div>
                  
                    <div id="alert-delivery" class="alert alert-info"></div>
              


                    <div id="alert-validation" class="alert alert-danger hidden">
                        <button type="button" class="close js-close-alert">&times;</button>
                        <strong>Ошибка!</strong> Заполните обязательные поля, отмеченные *
                    </div>
                    <div id="alert-order-done" class="alert alert-success hidden">
                        <button type="button" class="close js-close-alert">&times;</button>
                        <strong>Спасибо за заказ!</strong> Скоро мы с Вами свяжемся
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button id="order-btn" type="submit" class="btn btn-primary">Отправить заказ</button>
                </div>
            </div>
        </form>
    </div>
    </div>
   

    <script id="order-message-template" type="text/template">
        <% if (count !== 0) { %>
            В Вашей корзине <%= count %> товара(ов) на общую сумму <%= summa %> рублей.
            Заполните форму ниже и нажмите кнопку Отправить заказ.
        <% } else { %>
            Ваша корзина пуста. Перед отправкой заказа добавьте в корзину хотя бы один товар.
        <% } %>
    </script>

  
    <script src="js/vendor/underscore.min.js" type="text/javascript"></script>
    <script src="js/modules/cart.js" type="text/javascript"></script>
    <script src="js/modules/order.js" type="text/javascript"></script>
    <script src="js/modules/main.js" type="text/javascript"></script>
    <script src="scripts/general.js"></script>
</body>
</html>